[package]
name = "dioxus_app"
version = "0.1.0"
edition = "2024"

[dependencies]
dioxus = { version = "0.7.1", features = [] }
tracing = "0.1.44"

[features]
default = ["web"]
web = ["dioxus/web"]
desktop = ["dioxus/desktop"]
mobile = ["dioxus/mobile"]
server = ["dioxus/server"]
